<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello</title>
        <link type="text/css" rel="stylesheet" href="style.css"/>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    </head>
    <body>
        <div id="todolist">
            <ul>
                <todo-item
                    v-for="item in todoNotebook"
                    :todo="item.listName"
                    :key="item.listName"
                    @click.native="chooseList(item)">
                </todo-item>
            </ul>
            <template v-if="newList === false">
                <template v-if="newTitleWarning === false">
                    <button @click="makeNewTodo">{{newTitleButtonMessage}}</button>
                </template>
                <template v-if="newTitleWarning === true">
                    {{newTitleButtonMessage}}
                    <button @click="newTitleComplete">Yes</button>
                    <button @click="redoTitle">No, I'll choose another</button>
                </template>
                <!-- <button @click="makeNewTodo">{{newTitleButtonMessage}}</button> -->
                    <template v-if="emptyTodoNotebook === false">
                        <h1>{{listTitle}}</h1>
                        <ol>
                            <todo-item 
                                v-for="item in list" 
                                :todo="item.text" 
                                :key="item.text"
                                :class="[{notdone: !item.completed}, {done: item.completed}]"
                                @click.native="markcompleted(item)">
                            </todo-item>
                        </ol>
                        <p>What else would you like to do today?</p>
                        <form
                            @submit.prevent="addnew">
                            <input 
                                v-model="newitem">
                            <button>add item</button>
                        </form>
                        
                        <template v-if="removeCheck === false">
                            <button
                                @click="removecheck">
                                {{removeButtonMessage}}
                            </button>
                        </template>
                        <template v-else>
                            <button
                                @click="removecompleted"
                                :class="{finalmessage: removeCheck}">
                                {{removeButtonMessage}}
                            </button>
                        </template><br>
                        <template v-if="removeListCheckToggle === false">
                            <button
                                @click="removeListCheck">
                                {{removeListButtonMessage}}
                            </button>
                        </template>
                        <template v-else>
                            <button
                                @click="removeList"
                                :class="{finalmessage: removeListCheck}">
                                {{removeListButtonMessage}}
                            </button>
                        </template>
                    </template>
            </template>
            <template v-else>
                <form
                    @submit.prevent="newTitle">
                    <input 
                        v-model="newtitle">
                    <button>Create list title</button>
                </form>
            </template>
        </div>
        <script type="text/javascript" src="todo.js"></script>
    </body>
</html>